name: Analyze photo manager code

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          github-server-url: https://github.com/fluttercandies/flutter_photo_manager.git
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.9'
          cache: true
      - name: Analyze photo manager code
        run:
          flutter analyze lib example/lib