name: Analyze photo manager code

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.13.9"
          cache: true
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          repository: fluttercandies/flutter_photo_manager
          path: flutter_photo_manager
      - name: Analyze photo manager code
        run: flutter analyze lib example/lib
        working-directory: flutter_photo_manager
