name: Show iOS sdk headers

on:
  workflow_dispatch:

jobs:
  show-sdk-headers:
    strategy:
      matrix:
        sdk:
          - iPhoneOS
          - iPhoneSimulator
        os:
          - macos-10.15
          - macos-11
          - macos-12
          - macos-latest
    name: Show SDK Headers
    runs-on: ${{matrix.os}}
    steps:
      - name: Show SDK Headers
        run: |
          ls -l /Applications/Xcode.app/Contents/Developer/Platforms/${{ matrix.sdk }}.platform/Developer/SDKs/${{ matrix.sdk }}.sdk/usr/include
          ls -l /Applications/Xcode.app/Contents/Developer/Platforms/${{ matrix.sdk }}.platform/Developer/SDKs/${{ matrix.sdk }}.sdk/usr/include > /tmp/sdk-headers.txt
      - name: Upload to artifacts
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.os }}-${{ matrix.sdk}}-sdk-headers
          path: /tmp/sdk-headers.txt
